* {
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1.5em;
	color: #ffffff;
}

.container {
	border: 1px solid black;
	width: 90%;
	margin: 0 auto;
	background: silver;
}

.container .cols {
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	background-color: red;
	text-align: center;
}

.container .cols.col1 {width: 8.333%;}
.container .cols.col2 {width: 16.666%;}
.container .cols.col3 {width: 25%;}
.container .cols.col4 {width: 33.333%;}
.container .cols.col5 {width: 41.666%;}
.container .cols.col6 {width: 50%;}
.container .cols.col7 {width: 58.333%;}
.container .cols.col8 {width: 66.666%;}
.container .cols.col9 {width: 75%;}
.container .cols.col10 {width: 83.333%;}
.container .cols.col11 {width: 91.666%;}
.container .cols.col12 {width: 100%;}