@font-face {
font-family: 'FuturaPT-Bold';
src: url('../fonts/FuturaPT-Bold.eot');
src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/FuturaPT-Bold.woff') format('woff'),
url('../fonts/FuturaPT-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'OpenSans-Bold';
src: url('../fonts/OpenSans-Bold.eot');
src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/OpenSans-Bold.woff') format('woff'),
url('../fonts/OpenSans-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'OpenSans-ExtraBold';
src: url('../fonts/OpenSans-ExtraBold.eot');
src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'OpenSans-Regular';
src: url('../fonts/OpenSans-Regular');
src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/OpenSans-Regular.woff') format('woff'),
url('../fonts/OpenSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'MuseoSansCyrl-300';
src: url('../fonts/MuseoSansCyrl-300');
src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
}
}

body {
  background-color: #fff;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  list-style-type: none;
}

p {
  font-family: 'OpenSans-Regular';
  font-size: 0.65rem;
}

h2 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 1.5rem;
}

button {
  outline:none;
}

.background-durk {
  display: none;
  width: 100%;
  height: 600vh;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 5;
}

.feedback, .order {
  display: none;
  max-width: 400px;
  background-color: #fff;
  position: absolute;
  left: 38%;
  top: 5%;
}
@media screen and (max-width: 642px) {
  .feedback, .order {
    left: 18%;
  }
}
@media screen and (max-width: 500px) {
  .feedback, .order {
    max-width: 320px;
    left: 5%;
    top: 5%;
  }
}
@media screen and (max-width: 350px) {
  .feedback, .order {
    left: 0;
  }
}

.form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tittle_form_header {
  width: 290px;
  background-color: #663333;
  background: linear-gradient(-54deg, transparent 27px, #663333 0);
}

.tittle_form_text {
  padding: 10px 0 10px 80px;
  color: #fff;
  font-size: 0.65rem;
}

.close_text {
  color: #663333;
}

.close_img {
  margin: 11px;
}

.form_wrapper {
  position: relative;
  margin: 50px 80px;
}

.form_wrapper >label {
  font-size: 0.65rem;
}

.form_input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 240px;
  height: 40px;
  border: none;
  background-color: #e6e6e6;
}

#form_message {
  height: 80px;
}

.form_label_phone {
  margin-top: 20px;
}

.form_consent {
  float: left;
  margin: 3px 20px 20px 0;
  color: #663333;
}

.form_consent:checked,
.form_consent:not(:checked),
{
    position: absolute;
    left: -9999px;
}

.form_consent:checked,
.form_consent:not(:checked) {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
.form_consent:checked:before,
.form_consent:not(:checked):before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: none;
    background-color: #e6e6e6;
}


.form_consent:checked:before,
.form_consent:not(:checked):before {
    border-radius: 2px;
}
.form_consent:checked:after,
.form_consent:not(:checked):after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form_consent:checked:after,
.form_consent:not(:checked):after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #663333;
    border-bottom: 2px solid #663333;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form_consent:not(:checked):after {
    opacity: 0;
}

.form_consent:checked:after {
    opacity: 1;
}

.form_label_consent {
  color: #663333;
}

.btn-form {
  display: block;
  margin: 30px auto;
}
@media screen and (max-width: 500px) {
  .tittle_form_text {
    padding: 11px 0 12px 41px;
}

  .form_wrapper {
    margin-left: 41px;
}
}


.header {
  position: relative;
}

.wrapper {
  max-width: 942px;
  margin: 0 auto;
  position: relative;
}

.wrapper_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_background_logo {
  width: 40%;
  height: 130px;
  background-color: #e6e6e6;
  background:linear-gradient(-54deg, transparent 91px, #e6e6e6 0);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header_logo {
  height: 130px;
  background-color: #e6e6e6;
  background:linear-gradient(-54deg, transparent 91px, #e6e6e6 0);
  display: flex;
  align-items: center;
}

.header_logo-text {
  margin-left: 16px;
  margin-right: 80px;
  color: #663333;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.header_contact {
  margin: 10px 0 20px -20px;
  width: 590px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 930px) {
  .header_contact {
    margin: 20px;
    justify-content: flex-start;
}
}

.header_phone-text {
  margin-right: 30px;
  font-family: 'OpenSans-Bold';
  font-size: 0.8rem;
}

.header_phone-text::before {
  content: url(../img/phone.png);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.header_email-text {
  margin-right: 30px;
  font-family: 'OpenSans-Bold';
  font-size: 0.8rem;
}

.header_email-text::before {
  content: url(../img/mail.png);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.button {
  width: 150px;
  height: 39px;
  background: transparent;
  font-size: 0.65rem;
  color: #663333;
  border-radius: 2px;
  border: 1px solid #663333;
}

.btn-header {
  color: #663333;
}

.header_background_nav {
  width: 40%;
  height: 53px;
  background-color: #663333;
  background:linear-gradient(127deg, transparent 31px, #663333 0);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media screen and (max-width: 650px) {
  .header_background_nav {
    display: none;
}
}

.nav_items {
  padding: 15px 0;
  background-color: #663333;
  background:linear-gradient(127deg, transparent 31px, #663333 0);
}

.header_nav, .nav_items {
  margin-top: -7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}
@media screen and (max-width: 650px) {
  .header_nav, .nav_items {
    margin-bottom: -6px;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
}
}

.nav_sub {
  border-right: 1px solid #4e2020;
  padding: 0 34px;
  position: relative;
}

.nav_sub >a {
  color: #fff;
  font-size: 0.65rem;
}

.nav_sub_text::after {
  content: url(../img/drop-menu-icon.png);
  display: inline-block;
  vertical-align: text-bottom;
  padding-left: 10px;
}

.nav_sub >a:hover {
  border-bottom: 3px solid #d12c2c;
  padding-bottom: 13px;
}
@media screen and (max-width: 650px) {
  .nav_sub >a:hover {
    border-bottom: 3px solid #d12c2c;
    padding: 0;
  }
}


.nav_sub:first-of-type {
  padding-left: 60px;
}

.nav_sub:last-of-type {
  border: none;
  padding-right: 10px;
}

.nav_sub_items {
  display: none;
  width: 280px;
  background-color: #fff;
  position: absolute;
  top:37px;
  z-index: 1;
}

.sub_about-company {
  left: 30px;
}

.sub_services {
  left: 5px;
}
@media screen and (max-width: 430px) {
  .nav_sub_items {
    width: 200px;
    top:25px;
  }
  .nav_sub_items, .sub_services {
  left: 0;
  }
}

.nav_sub_link {
  font-size: 0.65rem;
  line-height: 20px;
}

.nav_sub_link:first-child {
  margin-top: 20px;
}

.nav_sub_link:last-child {
  margin-bottom: 20px;
}

.nav_sub_link::before{
  content: url(../img/arrow-right.png);
  display: inline-block;
  vertical-align: text-bottom;
  padding-left: 30px;
  padding-right: 15px;
}

.main {
  position: relative;
}

.intro {
  width: 100%;
  height: 500px;
  background-image: url(../img/hero-image.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -2px;
  z-index: 0;
}

.intro_text {
  color: #fff;
  position: absolute;
  top: 340px;
  left: 580px;
}
@media screen and (max-width: 865px) {
  .intro_text {
    color: #fff;
    position: absolute;
    top: 300px;
    left: 55%
  }
}
@media screen and (max-width: 423px) {
  .intro_text {
    color: #fff;
    position: absolute;
    top: 300px;
    left: 40%
  }
}

.service {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.heading-text {
  text-transform: uppercase;
}

.service_tittle {
  margin-top: 35px;
}

.line_heading-text {
  margin-top: 20px;
  width: 60px;
  height: 3px;
  border: 0;
  background-color: #d12c2c;
}

.service_banner {
  width: 620px;
  height: 340px;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.section-tittle_banner {
  max-width: 360px;
  height: 40px;
  background-color: #518a32;
  background:linear-gradient(-45deg, transparent 27px, #518a32 0);
  position: relative;
  top: 245px;
}

.tittle_banner {
  color: #fff;
  padding: 11px 20px;
}

.tittle_banner:hover {
  cursor: pointer;
}

.tittle_banner:hover::after {
  content: url(../img/arrow-servise.png);
  display: inline-block;
  vertical-align: text-bottom;
  padding-left: 10px;
}

.service_rectangle {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.rectagle {
  max-width: 300px;
  height: auto;
}

.tittle_rectagle {
  max-width: 210px;
  height: auto;
  color: #fff;
  margin-top: -5px;
  padding: 5px 20px;
  background-color: #518a32;
  background:linear-gradient(-45deg, transparent 27px, #518a32 0);
}

.about {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_heading_text {
  display: block;
  font-family: 'OpenSans-ExtraBold';
  margin-top: 15px;
  color: #663333;
  font-size: 0.9rem;
}

.about_box {
  max-width: 700px;
  background-color: #e6e6e6;
  position: relative;
}

.about_box::before {
  content: "";
  width: 30px;
  height: 30px;
  border: none;
  background-color: #e6e6e6;
  background:linear-gradient(45deg, transparent 21px, #e6e6e6 0);
  position: absolute;
  left: -30px;
  top: 30px;
}

.about_text {
  padding: 30px;
}

.advantages {
  width: 100%;
  margin-top: 35px;
  background-color: #663333;
  position: relative;
}

.advantages::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 30px;
  border: none;
  background:linear-gradient(315deg, transparent 27px, #fff 0);
}
.advantages::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 30px;
  border: none;
  background:linear-gradient(130deg, transparent 27px, #e6e6e6 0);
}

.advantages_tittle {
  padding-top: 90px;
  color: #fff;
}

.advantages_group {
  margin-top: 50px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.group {
  max-width: 225px;
}
@media screen and (max-width: 757px) {
  .group {
    margin-top: 20px;
    max-width: 125px;
  }
}
}

.group_heading-text {
  margin-top: 25px;
  font-family: 'OpenSans-Bold';
  font-size: 0.8rem;
}

.advantages_heading{
  color: #fff;
}

.tittle_text {
  margin-top: 20px;
  font-size: 0.65rem;
}

.advantages_text {
  color: #fff;
}

.transportation {
  background-color: #e6e6e6;
  position: relative;
}

.transportation_tittle {
  padding-top: 120px;
}

.transportation_group {
  margin-top: 50px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
}

.transportation_heading >a {
  color: #518a32;
  text-decoration: underline;
}

.carpark {
  margin: 90px 0;
}

.carpark_group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.group_item {
  max-width: 100%;
}

.tittle_carpark {
  display: flex;
}

.carpark_group {
  margin-top: 50px;
}

.tittle_weight, .tittle_model {
  font-size: 0.65rem;
  color: #fff;
  padding: 4px 0;
}

.tittle_weight {
  width: 120px;
  padding-left: 10px;
  background-color: #d12c2c;
  background:linear-gradient(-45deg, transparent 27px, #d12c2c 0);
}

.tittle_model {
  width: 260px;
  padding-left: 50px;
  background-color: #663333;
  background:linear-gradient(-45deg, transparent 27px, #663333 0);
  transform: translateX(-40px);
  z-index: -1;
}
    /* END INDEX */
    /* START PRICE  */

.price {
  margin-top: 30px;
}

.breadcrumbs_main {
  color: #663333;
}

.price_tittle {
  margin-top: 40px;
}

.selectionbar {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

}
.selectionbar_items {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #663333;
}

.selectionbar_items:last-child {
    background:linear-gradient(-45deg, transparent 26px, #663333 0);
}

.selectionbar_link {
  width: 140px;
}

.selectionbar_link:hover {
  cursor: pointer;
}

.selectionbar_link .active {
  padding-left: 20px;
  background-color: #f32828;
  background:linear-gradient(-45deg, transparent 26px, #f32828 0);
}

.selectionbar_text {
  padding: 10px 0;
  padding-left: 20px;
  color: #fff;
}

.price-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}

.price-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.characteristic-car {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.price_description {
  margin-bottom: 40px;
}

.characteristic-car_block {
  max-width: 464px;
  background-color: #e6e6e6;
  background:linear-gradient(135deg, transparent 15px, #e6e6e6 0)top left,
  linear-gradient(-45deg, transparent 15px, #e6e6e6 0)bottom right;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.marks {
  margin-top: 30px;
  margin-left: 30px;
}

.marks-item, .characteristic-item {
    font-family: 'OpenSans-Bold';
    font-size: 0.8rem;
}

.marks-link:first-of-type {
  margin-top: 20px;
}

.marks-link, .characteristic-link {
  font-family: 'OpenSans-Regular';
  margin-top: 10px;
  font-size: 0.65rem;
}

.characteristic-link {
  font-family: 'MuseoSansCyrl-300';
}

.characteristic {
  margin: 30px 50px;
}

.btn-price {
  margin-top: 50px;
  margin-bottom: 90px;
  border-color: #518a32;
  color: #518a32;
}

.price-2, .price-3, .price-4 {
  display: none;
}

.footer {
	min-height: calc(100vh - 195px);
  background-color: #1c1c1c;
}

.footer_section_contacts {
  padding-top: 35px;
  font-size: 0.65rem;
  line-height: 22px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_address {
  max-width: 340px;
}

.footer__contacts {
  max-width: 250px;
}

.btn-footer {
  color: #fff;
  border-color: #fff;
}

.line_footer {
  margin-top: 45px;
  border: none;
  height: 1px;
  background-color: #616161;
}

.footer_after {
  margin-top: 20px;
  color: #616161;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.after >a {
  color: #616161;
  text-decoration: underline;
}
