@font-face {
font-family: 'Geometria Bold';
src: url('../fonts/Geometria-Bold.eot');
src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Bold.woff') format('woff'),
url('../fonts/Geometria-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Regular';
src: url('../fonts/Geometria.eot');
src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria.woff') format('woff'),
url('../fonts/Geometria.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Medium';
src: url('../fonts/Geometria-Medium.eot');
src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Medium.woff') format('woff'),
url('../fonts/Geometria-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Italic';
src: url('../fonts/Geometria-Italic.eot');
src: url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Italic.woff') format('woff'),
url('../fonts/Geometria-Italic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: #fff;
  font-family: 'Geometria Medium';
  color: #fff;
}

a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Geometria Bold';
}

img {
  max-width: 100%;
  height: auto;
}

button, input {
  font-family: 'Geometria Medium';
  font-size: 1rem;
  outline:none;
}



/* HEADER START */

.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.wrapper {
  max-width: 1341px;
  margin: 0 auto;
}

.header__wrapper {
  position: relative;
  padding-top: 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* START FORM CALL BACK */

.form__call-back {
  display: none;
  position: absolute;
  left: 30%;
  top: 150%;
  max-width: 565px;
  height: 380px;
  background: linear-gradient(89.28deg, #00B2FF 12.71%, #009EE1 99.55%);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.heading__call-back {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.close_form {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 14px;
  top: 12px;
}

.form__call-back__wrapper {
  margin-left: 71px;
  margin-top: 41px;
}

.form__call-back__input {
  margin: 24px auto;
}

.form__call-back__input >input {
  margin-bottom: 12px;
  padding: 0 41px;
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: 0;
  border-radius: 50px;
  color: #868686;
}

#form_call-back_button {
  width: 207px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  background: #171717;
  margin-left: 108px;
}

/* END FORM CALL BACK */

/* START MENU */

.index__header__menu {
  margin-right: 28px;
}

.header__menu__hide {
  display: none;
  margin-right: 28px;
}

.header__menu__open {
  display: none;
  width: 320px;
  height: 385px;
  background-color: #000;
  position: absolute;
  z-index: 3;
  top: 93px;
}

.header__menu__open__link > a:hover, .header__menu__open__services__link > a:hover {
  font-family: 'Geometria Regular';
  color: #00B2FF;
  text-decoration: underline;
}

.header__menu__open__link {
  margin-left: 52px;
  margin-top: 13px;
}

.header__menu__open__link:first-child {
  margin-top: 37px;
}

.header__menu__open__services__link:first-child {
  margin-top: 14px;
}

.header__menu__open__services__link {
  font-family: 'Geometria Regular';
  margin-left: 14px;
  font-size: .9rem;
}


/* END MENU */


.header__send {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 28px;
}

.header__telefone {
  font-size: 1.3rem;
}

#header__send__button {
   width: 240px;
   height: 50px;
   background: transparent;
   border: 2px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 50px;
   font-family: 'Geometria Medium';
   color: #fff;
   margin-left: 28px;
}

 /* END HEADER */
 /* MAIN START */

.main {
   background-color: transparent;
   position: absolute;
   width: 100%;
   z-index: 3;
   padding-top: 187px;
}

#nav__namber {
   font-family: 'Geometria Bold';
   width: 89px;
   height: 38px;
   margin-bottom: 20px;
}

#nav__namber > h4 {
   font-size: 1.5rem;
   color: #00B2FF;
}

#nav__namber > h4 > span {
   color: #303030;
}

.main__text {
   font-size: 5rem;
   line-height: 126px;
}

/* START NAVIGATION PANEL */

.main__navigation {
   margin-top: 50px;
   position: relative;
   max-width: 795px;
   height: 68px;
}

.main__navigation__list {
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: space-between;
}

.main__navigation__line {
   position: absolute;
   top: 65px;
   bottom: 0;
   width: 100%;
   height: 3px;
   border: none;
   background: #fff;
   z-index: -1;
}

.main__navigation__item {
   max-width: 123px;
   height: 50px;
   padding-bottom: 15px;
   padding-right: 20px;
}

.main__navigation__list > a {
  margin-top: 10px;
  line-height: 25px;
  color: #fff;
}

.main__navigation__item.active{
   border-bottom: 3px solid #00B2FF;
   color: #00B2FF;
}

.main__navigation__item:hover {
  border-bottom: 3px solid #00B2FF;
  color: #00B2FF;
  cursor: pointer;
}

.main__send__link{
  margin-top: 157px;
  max-width: 360px;
  height: 38px;
}

#main__send__link {
   color: #00B2FF;
   font-size: 1.5rem;
}

.main__send__link > img {
   padding-left: 8px;
}


 /* END NAVIGATION PANEL */


/* START INTRO */

.intro__background {
  display: flex;
  justify-content: flex-end;
  background-color: #121212;
  width: 100%;
  height: 979px;
}

 .intro {
   position: relative;
   width: 52%;
 }

 .intro__link {
   width: 248px;
   height: 50px;
   position: absolute;
   left: 444px;
   top: 741px;
   text-decoration: underline;
   display: none;
   z-index: 3;
 }

 #link__image__shadow {
   width: 100%;
   height: 979px;
   background-color: #121212;
   background-repeat: no-repeat;
 }

 /* START WORKS */

.website-development {
   background-image: url(../img/website-development.jpg);
   opacity: .25;
 }

.website-promotion {
   background-image: url(../img/website-promotion.jpg);
   opacity: .25;
}

.form-style-img {
   background-image: url(../img/form-style.jpg);
   opacity: .25;
}

.logo-development {
   background-image: url(../img/logo-development.jpg);
   opacity: .25;
}
 /* END WORKS */

 /* END INTRO */

 /* START CONTAINER */

.container__project {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   margin-top: 121px;
}

.container__project__list {
   margin-bottom: 53px ;
}

.container__project__list > a {
   margin-top: 15px;
   font-size: 1.5rem;
   line-height: 38px;
   color: #171717;
}

 .container__project__list > a:hover {
   text-decoration: underline;
 }

 .container__project__list > p {
   font-family: 'Geometria Regular';
   color: #8E8E8E;
 }

 .project__all {
   margin-top: 106px;
   position: relative;
   text-align: center;
 }

 .project__all__link {
   font-family: 'Geometria Bold';
   color: #171717;
   font-size: 1.5rem;
 }


 /* END CONTAINER */

 /* FORM START */

 #form__send__project {
   background-image: url(../img/form-background.png);
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   width: 99%;
   top: 180px;
 }

 .wrapper__form{
  margin-top: 43px;
  margin-left: 205px;
  text-align: left;
 }

 .form__text {
   max-width: 100%;
 }

 .form__text > h2 {
   font-family: 'Geometria Bold';
   font-size: 5rem;
 }

 .form__text > p {
   font-family: 'Geometria Italic';
   line-height: 25px;
   padding-top: 20px;
 }

 .form__input {
   margin: 53px 0 81px 0;
 }

 #form_send_project_name, #form_send_project_tel-emeil, #form_send_project_button {
   margin-right: 20px;
   width: 308px;
   height: 60px;
   border: none;
   border-radius: 50px;
   color: #868686;
   text-align: center;
 }

 #form_send_project_button {
   color: #fff;
   background-color: #171717;
 }

 /* END FORM */

 /* START FOOTER */

 .footer {
   margin-top: 383px;
   background-color: #121212;
   min-height: calc(100vh - 764px);
 }

 .footer__contacts {
   text-align: center;
   margin: 0 auto;
   padding-top: 350px;
   max-width: 496px;
 }

 .footer__contacts > h4 {
   font-size: 1.7rem;
}

.footer__contacts__list {
   margin-top: 13px;
   list-style: inside;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer__contacts__link:first-child {
   list-style: none;
}

.footer__contacts__link {
   margin-right: 6px;
}

 .footer__contacts__list:first-child {
   list-style: none;
 }


.footer__contacts__link > a {
  font-family: 'Geometria Regular';
  color: #fff;
  margin-left: -16px;
}

 .footer__brif {
   margin-top: 45px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
 }

 .brif__button {
   width: 310px;
   height: 60px;
   border: 2px solid #FFFFFF;
   color: #fff;
   padding: 19px auto;
   margin-bottom: 10px;
   font-size: .9rem;
   box-sizing: border-box;
   border-radius: 50px;
   color: #fff;
   background: transparent;
 }

 .after {
   font-family: 'Geometria Regular';
   color: #5C5C5C;
   font-size: 1rem;
   text-align: center;
   margin-top: 131px;
   padding-bottom: 46px;
 }

 /* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
 @media screen and (min-width : 320px) and (max-width : 480px) {
  html {
    font-size: 14px;
  }

   .header__send {
     display: none;
   }

   .main {
     padding-top: 130px;
   }

   #nav__namber {
      height: auto;
      margin: 0;
   }

   #nav__namber > h4 {
      font-size: .8rem;
   }

   .main__text {
      font-size: 2rem;
      line-height: 60px;
   }

   .main__navigation__item {
     font-size: .8rem;
   }

   .main__navigation__line, #main__send__link {
      display: none;
   }

   .main__navigation__item.active, .main__navigation__item:hover {
     border: none;
   }

   .intro__background {
     height:570px;
   }

   .intro {
     width: 100%;
   }

   .intro__link {
     left: 40px;
     top: 475px;
   }

   #link__image__shadow {
     height: 570px;
   }

   .project__all__link {
     font-size: 1.3rem;
   }
   .wrapper__form{
    margin: 25px 35px;
   }

   .form__text > h2 {
     font-size: 2.3rem;
     line-height: 40px;
   }

   .form__input {
     margin: 0;
   }

   #form_send_project_name, #form_send_project_tel-emeil, #form_send_project_button {
     max-width: 100%;
     height: 40px;
     margin-top: 10px;
   }

   .footer__contacts {
     padding-top: 170px;
   }

  .footer__contacts > h4 {
     font-size: 1.3rem;
   }

   .footer__contacts__link > a {
     font-size: .8rem;
     margin-left: -10px;
   }


 }
 /* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
 @media screen and (min-width : 480px) and (max-width : 768px) {
   html {
     font-size: 16px;
   }

   .form__call-back {
     left: 0%;
     top: 150%;
     max-width: 565px;
     height: 380px;
   }

   .form__call-back__input >input {
     width: auto;
   }

  .header__telefone {
        font-size: 1rem;
      }

   .main__text {
      font-size: 3rem;
      line-height: 80px;
   }

   .main__navigation__line {
      display: none;
   }

   .main__navigation__item.active, .main__navigation__item:hover{
      border-bottom: none;
   }

   .intro {
     width: 100%;
   }

   .intro__link {
     left: 200px;
     top: 620px;
   }

   .wrapper__form{
    margin: 25px 35px;
   }

   .form__text > h2 {
     font-size: 3rem;
     line-height: 50px;
   }

   .form__input {
     margin: 0;
   }

   #form_send_project_name, #form_send_project_tel-emeil, #form_send_project_button {
     margin-top: 10px;
   }
 }
 /* iPads (вертикальная и горизонтальная) ----------- */
 @media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 18px;
    }
   .form__call-back {
     left: 18%;
   }

   .main__text {
      font-size: 4rem;
      line-height: 100px;
   }

   .intro__link {
     left: 170px;
     top: 820px;
   }

   .wrapper__form{
    margin: 25px 110px;
   }

   .form__text > h2 {
     font-size: 4rem;
     line-height: 50px;
   }

   .form__input {
     margin: 51px 0;
   }

   #form_send_project_name, #form_send_project_tel-emeil, #form_send_project_button {
     margin-top: 10px;
   }
 }
 /* ноутбуки ----------- */
 @media screen and (min-width: 1024px)  and (max-width: 1342px) {
  .form__call-back {
    left: 25%;
  }

  .intro__link {
    left: 300px;
    top: 820px;
  }


  .form__text > h2 {
    font-size: 4rem;
    line-height: 80px;
  }

  .form__input {
    margin: 81px 0;
  }

  #form_send_project_name, #form_send_project_tel-emeil, #form_send_project_button {
    margin-top: 10px;
  }
 }
