*{
    font-family: Arial, sans-serif;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border;
    -moz-box-sizing: border;
    -box-sizing: border;
}

p {
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    margin: 50px 0;
}

h2 {
    font-size: 30px;
    color: #445161;
    padding: 50px 0 30px 0;
}

h3 {
    font-size: 40px;
    color: #445161;
    padding: 12px 0px;
}

h4 {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin-bottom: 50px;
}

button {
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #445161;
    font-weight: 600;
    margin-bottom: 20px;
}

.checkicon >ul >li {
    font-size: 20px;
    color: #ffffff;
    margin: 19px 0;
}

.whiteCub {
    width: 470px;
    height: 215px;
    background-color: #ffffff;
    margin: 50px 50px 65px 50px; 
}


header {
    background-color: #445162;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.checkicon {
    margin-left: 50px;
}

.checkicon img {
    padding-right: 12px;
}

main {
}

.grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6 {
    display: grid;
}

.grid-item-1 {
    grid-template-columns: 2fr 1fr;
}

.about_product{
    margin-left: 50px;
}

.about_product >p {
    margin: 20px 0;

}

.block-video {
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin: 50px 30px 50px 100px
}

.block-video >video {
    padding: auto;
}

.dignity-and-pluses-product-text {
    background-color: #f5f5f5;
    text-align: center;
}

.dignity-and-pluses-product-text >h2 {
}

.grid-item-2, .grid-item-4 {
    background-color: #f5f5f5;
}

.grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5 {
    grid-gap: 35px 23px;
    padding: 0 50px 50px 50px;
}

.grid-item-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-item-2 img {
    display: block;
    float: left;
    padding-right: 10px;
}

.grid-item-2 p, .grid-item-3 p {
    display: block;
    overflow: auto;
}

.Scrinshots-text, .Reviews-text, .Buy-it-now-text, .Contacts-text {
    text-align: center;
}

.grid-item-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item-3 img {
    display: block;
    float: left;
    padding-right: 10px;
}

.grid-item-3 h4 {
    color: #445161;
    padding-bottom: 10px;
}

.Reviews-text {
    background-color: #f5f5f5;
}

.grid-item-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item-4 p, span {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
}

.grid-item-4 span {
    color: #989898;
    font-style: normal;
}

.say-block-1, .say-block-2, .say-block-3, .say-block-4{
    position: relative;
}

.say-block-1 p, .say-block-2 p, .say-block-3 p, .say-block-4 p {
    position: absolute;
    width: 440px;
    height: 95px;
    top: 10px;
    left: 120px;
}

.say-block-1 span, .say-block-2 span, .say-block-3 span, .say-block-4 span {
    position: absolute;
    top: 90px;
    left: 120px;
}

.grid-item-5 {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    text-align: center;
    justify-items: center;
    margin: 0px 50px;
}

.grid-item-5 h4 {
    color: white;
}

.block-1, .block-2, .block-3 {
    width: 300px;
    height: auto;
    background-color: #445162;
    border: 2px solid #445162;
    border-radius: 5px;
}

.many-block-1, .many-block-2, .many-block-3 {
    width: auto;
    height: 70px;
    text-align: center;
    background-color: white;
}

.grid-item-5 ul {
    font-size: 14px;
    text-align: left;
    margin: 22px;
    color: white;
    line-height: 24px;
}

#StBuy, #PrBuy, #LxBuy {
    width: 262px;
    height: 42px;

}

.Contacts-text {
    background-color: #445162;
}

.Contacts-text h2{
    color: white;
}

.grid-item-6 {
    background-color: #445162;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 3% 20%;
    grid-gap: 48px;
}

.form {
    text-align: center;
}

#send {
    width: 142px;
    height: 40px;
    border-radius: 5px;

}

input, textarea {
    width: 470px;
    border-radius: 5px;
    border: none;
    margin-bottom: 22px;
    font-size: 16px;
    color: #445162;
    padding: 15px;
    outline: none;
}

textarea {
    height: 172px;
}


.contacts-social-form >ul >li {
    font-size: 16px;
    color: white;
    margin-bottom: 22px;
}

.contacts-social-form img {
    float: left;
    padding-right: 5px;
}

footer {
    text-align: center;
}

footer p{
    font-size: 12px;
    color: #445162;
}