@font-face {
font-family: 'Geometria Bold';
src: url('../fonts/Geometria-Bold.eot');
src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Bold.woff') format('woff'),
url('../fonts/Geometria-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Regular';
src: url('../fonts/Geometria.eot');
src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria.woff') format('woff'),
url('../fonts/Geometria.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Medium';
src: url('../fonts/Geometria-Medium.eot');
src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Medium.woff') format('woff'),
url('../fonts/Geometria-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Italic';
src: url('../fonts/Geometria-Italic.eot');
src: url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Italic.woff') format('woff'),
url('../fonts/Geometria-Italic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Geometria Regular';
  color: #171717;
  font-size: 20px;
}

a {
  color: #171717;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Geometria Bold';
}

img {
  max-width: 100%;
  height: auto;
}

button, input {
  font-family: 'Geometria Medium';
  font-size: 20px;
  outline:none;
}

/* HEADER START */

.header {
  background-color: transparent;
  width: 100%;
}

.wrapper {
  max-width: 1341px;
  margin: 0 auto;
}

.header__wrapper {
  position: relative;
  padding-top: 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* START FORM CALL BACK */

.form__call-back {
  display: none;
  position: absolute;
  left: 375px;
  top: 282px;
  width: 565px;
  height: 380px;
  background: linear-gradient(89.28deg, #00B2FF 12.71%, #009EE1 99.55%);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.heading__call-back {
  font-size: 30px;
  margin-bottom: 5px;
}

.close_form {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 14px;
  top: 12px;
}

.form__call-back__wrapper {
  margin-left: 71px;
}

.form__call-back__wrapper {
  margin-top: 41px;
}

.form__call-back__input {
  margin: 24px auto;
}

.form__call-back__input >input {
  margin-bottom: 12px;
  padding-left: 41px;
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 50px;
  color: #868686;
}

#form_call-back_button {
  width: 207px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  background: #171717;
  margin-left: 108px;
}

/* END FORM CALL BACK */

/* START MENU */

.header__menu {
  margin-right: 28px;
}

.header__menu__hide {
  display: none;
  margin-right: 28px;
}

.header__menu__open {
  display: none;
  width: 320px;
  height: 385px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 93px;
}

.header__menu__open__link > a:hover, .header__menu__open__services__link > a:hover {
  font-family: 'Geometria Regular';
  color: #00B2FF;
  text-decoration: underline;
}

.header__menu__open__link {
  margin-left: 52px;
  margin-top: 13px;
}

.header__menu__open__link:first-child {
  margin-top: 37px;
}

.header__menu__open__services__link:first-child {
  margin-top: 14px;
}

.header__menu__open__services__link {
  font-family: 'Geometria Regular';
  margin-left: 14px;
  font-size: 18px;
}


/* END MENU */


.header__send {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 28px;
}

.header__telefone {
  font-size: 26px;
}

#header__send__button {
   width: 240px;
   height: 50px;
   background: transparent;
   border: 2px solid #171717;
   box-sizing: border-box;
   border-radius: 50px;
   font-family: 'Geometria Medium';
   font-size: 20px;
   color: #171717;
   margin-left: 28px;
}

 /* END HEADER */

.bread__crumbs {
  font-size: 14px;
  color: #171717;
  margin-top: 71px;
}

.bread__crumbs >span {
  color: #8E8E8E;
}

 /* filter START */

.topic__filter {
  margin-top: 84px;
  max-width: 1180px;
  max-height: 120px;
}

.topic__filter__button {
  min-width: 120px;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 13px 20px;
  font-size: 20px;
  text-align: center;
  color: #8E8E8E;
  border: 1px solid #8E8E8E;
  border-radius: 35px;
  background: transparent;
  box-sizing: border-box;
}

.topic__filter__button:hover {
  box-shadow: 0px 0px 20px rgba(0, 178, 255, 0.5);
}

.topic__filter__button.fixed {
  color: #fff;
  border: 0;
  background: #00B2FF;
  box-shadow: 0px 0px 20px rgba(0, 178, 255, 0.5);
}

/* filter END */

/* START CONTAINER */


.container__project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 121px;
}

.container__project__list {
  margin-bottom: 53px ;
}

.container__project__list > a {
  margin-top: 15px;
  font-size: 30px;
  color: #171717;
}

.container__project__list > a:hover {
  border-bottom: 3px solid #171717;
}

.container__project__list > p {
  font-family: 'Geometria Regular';
  font-size: 20px;
  color: #8E8E8E;
}

/* END CONTAINER */

/* START FOOTER */

/* FORM START */

#form__send__project {
  background-image: url(../img/form-background.png);
  position: absolute;
  width: 1342px;
  height: 489px;
  bottom: 519px;
}

.wrapper__form{
  text-align: left;
  padding: 22px 19px;
}

.form__text {
  width: 636px;
  height: 126px;
  margin: 43px 205px;
}

.form__text > h2 {
  font-family: 'Geometria Bold';
  font-size: 100px;
  line-height: 80px;

}

.form__text > p {
  font-family: 'Geometria Italic';
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
}

.form__input {
  position: absolute;
  bottom: 81px;
  left: 205px;
}

#form_send_project_name, #form_send_project_tel-emeil, #form_send_project_button {
  margin-right: 20px;
  width: 308px;
  height: 60px;
  border: none;
  border-radius: 50px;
  color: #868686;
  text-align: center;
}

#form_send_project_button {
  color: #fff;
  background-color: #171717;
}

/* END FORM */

.footer {
  margin-top: 375px;
  background-color: #121212;
  min-height: calc(100vh - 764px);
  color: #fff;
  position: relative;
}

.footer__contacts {
  text-align: center;
  margin: 0 auto;
  padding-top: 350px;
  width: 496px;
  height: 107px;
}

.footer__contacts > h4 {
  font-size: 35px;
}

.footer__contacts__list {
  margin-top: 13px;
  list-style: inside;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contacts__link:first-child {
  list-style: none;
}

.footer__contacts__link {
  margin-right: 6px;
}

.footer__contacts__list:first-child {
  list-style: none;
}


.footer__contacts__link > a {
 font-family: 'Geometria Regular';
 color: #fff;
 font-size: 20px;
 margin-left: -16px;
}

.footer__brif {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brif__button {
  width: 310px;
  height: 60px;
  border: 2px solid #5C5C5C;
  padding: 19px auto;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 50px;
  color: #5C5C5C;
  background: transparent;
}

.brif__button:hover {
  border: 2px solid #FFFFFF;
  color: #fff;
}

.after {
  color: #5C5C5C;
  font-size: 20px;
  text-align: center;
  margin-top: 131px;
  padding-bottom: 46px;
}
