@font-face {
font-family: 'Geometria Bold';
src: url('../fonts/Geometria-Bold.eot');
src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Bold.woff') format('woff'),
url('../fonts/Geometria-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Regular';
src: url('../fonts/Geometria.eot');
src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria.woff') format('woff'),
url('../fonts/Geometria.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Medium';
src: url('../fonts/Geometria-Medium.eot');
src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Medium.woff') format('woff'),
url('../fonts/Geometria-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Geometria Italic';
src: url('../fonts/Geometria-Italic.eot');
src: url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/Geometria-Italic.woff') format('woff'),
url('../fonts/Geometria-Italic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Geometria Regular';
  color: #171717;
  font-size: 20px;
  line-height: 25px;
}

a {
  color: #171717;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Geometria Medium';
}

h2, h3, h4 {
  font-size: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

button, input {
  font-family: 'Geometria Medium';
  font-size: 20px;
  outline:none;
}

/* HEADER START */

.header {
  background-color: transparent;
  width: 100%;
}

.wrapper {
  max-width: 1341px;
  margin: 0 auto;
}

.header__wrapper {
  position: relative;
  padding-top: 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* START FORM CALL BACK */

.form__call-back {
  display: none;
  position: absolute;
  left: 375px;
  top: 282px;
  width: 565px;
  height: 380px;
  background: linear-gradient(89.28deg, #00B2FF 12.71%, #009EE1 99.55%);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.heading__call-back {
  font-size: 30px;
  margin-bottom: 5px;
}

.close_form {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 14px;
  top: 12px;
}

.form__call-back__wrapper {
  margin-left: 71px;
}

.form__call-back__wrapper {
  margin-top: 41px;
}

.form__call-back__input {
  margin: 24px auto;
}

.form__call-back__input >input {
  margin-bottom: 12px;
  padding-left: 41px;
  width: 380px;
  height: 50px;
  background: #FFFFFF;
  border: none;
  border-radius: 50px;
  color: #868686;
}

#form_call-back_button {
  width: 207px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  background: #171717;
  margin-left: 108px;
}

/* END FORM CALL BACK */

/* START MENU */

.header__menu {
  margin-right: 28px;
}

.header__menu__hide {
  display: none;
  margin-right: 28px;
}

.header__menu__open {
  display: none;
  width: 320px;
  height: 385px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  top: 93px;
}

.header__menu__open__link > a:hover, .header__menu__open__services__link > a:hover {
  font-family: 'Geometria Regular';
  color: #00B2FF;
  text-decoration: underline;
}

.header__menu__open__link {
  margin-left: 52px;
  margin-top: 13px;
}

.header__menu__open__link:first-child {
  margin-top: 37px;
}

.header__menu__open__services__link:first-child {
  margin-top: 14px;
}

.header__menu__open__services__link {
  font-family: 'Geometria Regular';
  margin-left: 14px;
  font-size: 18px;
}


/* END MENU */


.header__send {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 28px;
}

.header__telefone {
  font-size: 26px;
}

#header__send__button {
   width: 240px;
   height: 50px;
   background: transparent;
   border: 2px solid #171717;
   box-sizing: border-box;
   box-shadow: 0px 0px 20px rgba(0, 178, 255, 0.5);
   border-radius: 35px;
   font-family: 'Geometria Medium';
   font-size: 20px;
   color: #171717;
   margin-left: 28px;
}

 /* END HEADER */

.bread__crumbs {
  font-size: 14px;
  color: #171717;
  margin-top: 71px;
}

.bread__crumbs >span {
  color: #8E8E8E;
}

 /* logo__development START */

 .logo__development {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
 }

 .text__wrapper {
   max-width: 674px;
 }

 .main__heading-text {
   height: 50px;
   margin-top: 49px;
   font-size: 40px;
   color: #00B2FF;
 }

 .heading-text {
   margin-top: 33px;
 }

 .heading-text__text {
   margin-top: 12px;
   margin-bottom: 65px;
 }

 .form__wrapper {
   width: 565px;
 }

 .form__order-an-logo {
   margin-top: 70px;
   display: block;
   width: 565px;
   height: 380px;
   background: linear-gradient(89.28deg, #00B2FF 12.71%, #009EE1 99.55%);
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   color: #fff;
 }

 .form__order-an-logo__wrapper {
   margin-left: 71px;
   padding-top: 41px;
 }

 .heading__order-an-logo {
   line-height: 38px;
 }

 .form__order-an-logo__input {
   margin-top: 24px;
 }

 .form__order-an-logo__input >input {
   margin-bottom: 12px;
   padding-left: 41px;
   width: 380px;
   height: 50px;
   border: 0;
   background: #FFFFFF;
   border-radius: 50px;
   color: #868686;
 }

 #form_order-an-logo_button {
   width: 207px;
   height: 50px;
   border: none;
   border-radius: 50px;
   color: #fff;
   text-align: center;
   background: #171717;
   margin-left: 0;
   margin-bottom: 42px;
 }

/*  END logo__development */

/* START stage__question */

.stage__heading__text {
  padding-top: 8px;
}

.stage__question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-development__stage {
  width: 545px;
  margin-top: 28px;
  max-height: 500px;
  position: relative;
}

.site-development__numbers-left {
  width: 40px;
  height: 1081px;
  background-image: url(../img/logo-development-numbers.png);
  background-repeat: no-repeat;
  float: left;
}

.site-development__numbers-right {
  width: 40px;
  height: 1081px;
  background-image: url(../img/logo-development-numbers2.png);
  background-repeat: no-repeat;
  float: left;
}

.stage__text {
  padding-top: 5px;
  padding-left: 66px;
  height: 111px;
}

.stage__text::first-line {
  font-family: 'Geometria Medium';
}

/* START FORM QUESTION */

.form__question {
  background-color: #fff;
  width: 598px;
  height: 878px;
  position: absolute;
  top: 580px;
  left: 0;
}

.form__question__head {
  background-color: #00B2FF;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}

.form__question__head__heading-text {
  padding-top: 45px;
  margin-left: 100px;
}

.form__question__head__text{
  font-family: 'Geometria Italic';
  padding-top: 5px;
  margin-left: 100px;
  padding-bottom: 27px;
}

.form__question__container {
  margin-top: 50px;
  margin-left: 100px;
}

/*  START  QUESTION  */

.site-development__question {
  font-family: 'Geometria Medium';
  color: #303030;
  font-size: 25px;
  padding-bottom: 22px;
}

.question-answer {
  margin-bottom: 40px;
}

label {
  font-family: 'Geometria Italic';
  margin-right: 15px;
}

input[type=radio] {
  visibility: hidden;
  position: absolute;
}
input[type=radio] + label:before {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 2px solid #303030;
}
input[type=radio]:checked + label:before {
  height: 19px;
  width: 19px;
  background: #00B2FF;
  border: none;
}

input[type=radio]:checked + label {
  color: #00B2FF;
}


input[type=radio] + label:before{
  border-radius:50%;
}

.answer__button {
  width: 207px;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  background: #171717;
  margin-top: 30px;
  margin-left: 196px;
}

/*  END  QUESTION  */

/* END ARTICLE stage__question */

/* START VIDEO */

.background__gray {
  background-color: #ECECEC;
  margin-top: 176px;
}

.video__wrapper {
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap;
}

.video {
  padding-top: 82px;
  padding-bottom: 199px;
}

.video__project {
  width: 674px;
  height: auto;
}

.video__heading__text {
  margin-top: 28px;
  font-size: 25px;
  line-height: 31px;
  color: #303030;
}

.video__text {
  margin-top: 18px;
  max-width: 655px;
}

/* END VIDEO */

/* START CONTAINER */

.portfolio__text-link {
  margin-top: 48px;
}

.portfolio__link {
  text-decoration: underline;
  color: #00B2FF;
}

.portfolio__project{
  margin-top: -8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.project {
  margin-top: 42px;
  width: 429px;
  height: 347px;
}

.project__heading__text {
  margin-top: 21px;
}

.project__heading__text > a:hover {
  border-bottom: 3px solid #171717;
}

.project__text {
  margin-top: 10px;
  font-size: 15px;
  color: #8E8E8E;
}

.project__all {
  margin-top: 106px;
  position: relative;
  text-align: center;
}

.project__all__link {
  font-family: 'Geometria Bold';
  color: #171717;
  font-size: 30px;
}

 /* END CONTAINER */

  .footer {
    margin-top: 100px;
    background-color: #121212;
    min-height: calc(100vh - 764px);
    color: #fff;
    position: relative;
  }

  .footer__contacts {
    text-align: center;
    margin: 0 auto;
    padding-top: 58px;
    width: 496px;
    height: 107px;
  }

  .footer__contacts > h4 {
    font-size: 35px;
  }

  .footer__contacts__list {
    margin-top: 13px;
    list-style: inside;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__contacts__link:first-child {
    list-style: none;
  }

  .footer__contacts__link {
    margin-right: 6px;
  }

  .footer__contacts__list:first-child {
    list-style: none;
  }

  .footer__contacts__link > a {
   font-family: 'Geometria Regular';
   color: #fff;
   font-size: 20px;
   margin-left: -16px;
  }

  .footer__brif {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .brif__button {
    width: 310px;
    height: 60px;
    border: 2px solid #5C5C5C;
    padding: 19px auto;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 50px;
    color: #5C5C5C;
    background: transparent;
  }

  .brif__button:hover {
    border: 2px solid #FFFFFF;
    color: #fff;
  }

  .after {
    color: #5C5C5C;
    font-size: 20px;
    text-align: center;
    margin-top: 131px;
    padding-bottom: 46px;
  }
