@font-face {
	font-family: "SegoeWP";
	src: url("../fonts/SegoeWP.ttf") format("truetype");
}

* {
	font-family: SegoeWP;
}

ul {
	list-style-type: none;
}

h3 {
	font-size: 42.35px;
	color: #6f7173;
}

h4 {
	font-size: 26.35px;
	color: #6f7173;
}

h5 {
	font-size: 20.35px;
	color: #5094f2;
}

.container-fluid {
	padding: 0 58px;
	margin: 0 auto;
}


.navbar {
	width: 100%;
}

.navbar-brand {
  margin-left: 7%;
	padding: 15px 0;
}

.navigation-panel {
	font-size: 20.35px;
	margin-left: 42%;
  margin-top: 22px;
}


.navigation-box >a {
	color: #6f7173; 
	padding: 18px 20px;
}

.navigation-box >a:hover {
	border-bottom: 3px solid #5094f2;
	text-decoration: none;
}

.bd-example {
	z-index: 1;
}

.torn {
	width: 100%;
	position: absolute;
	z-index: 2;
  bottom: -13%;
  left: 0;
}

.shape {
	margin-right: 10px;
}

.btn-primary {
  font-size: 22.35px;
  width: 173px;
  height: 43px;
  padding: 0;
  margin: 9px;
  background-color: #5094f2;
}

.carousel {
	margin-bottom: 52px;
}

.carousel-caption >h2{
	font-size: 42.35px;
}

.carousel-caption >p{
	font-size: 24.35px;
	line-height: 44.42px;
}

.carousel-caption {
	max-width: 450px;
	min-width: auto;
	max-height: 250px;
	min-height: auto;
  position: absolute;
  right: 15%;
  bottom: 25%;
  left: 50%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.pencil-text, .monitor-text, .basket-text {
	margin-top: 30px;
	text-align: center;
}

.pencil-text >p, .monitor-text >p, .basket-text >p{
	font-size: 14.35px;
	color: #909090;
}


.shoping-cart {
	margin: 50px auto;
}

.sume-text{
	margin: 55px 0;
}

.sume-text >p{
	color: #979797;
	font-size: 15.35px;
	line-height: 36px;
}

.footer {
	border-top: 1px solid #e5e5e5;
	height: 94px;
}

.footer >p{
	color: #979797;
	font-size: 15.35px;
	margin: 3% 0;
}



@media screen and (max-width: 767px){

h5 {
	font-size: 34.13px;
}

.carousel-caption {
	right: 0;
  bottom: 10%;
  left: 50%;
}

.carousel-caption >h2{
	font-size: 30.35px;
}

.carousel-caption >p{
	font-size: 20.35px;
	line-height: 35.42px;
}

.btn-primary {
  font-size: 17.35px;
  width: 150px;
  height: auto;
  padding: 5px;
  background-color: #5094f2;
}

.pancel-col, .monitor-col, .basket-col{
	padding-top: 33px;
  padding-bottom: 19px;
  border-bottom: 1px solid #979797;
}

.pencil-text, .monitor-text, .basket-text {
	margin: auto 27px;
	text-align: left;
}

.pencil-text >p, .monitor-text >p, .basket-text >p{
	font-size: 19.35px;
}

.torn {
	opacity: 0;
}

.carousel {
	margin-bottom: 0;
	}
}


@media screen and (max-width: 992px){

.container-fluid {
	padding: 0;
	margin: 0 auto;
}

	.navbar-brand {
  margin-left: 0;
}

.navigation-panel {
	font-size: 20.35px;
	margin-left: 0;
  margin-top: 0;
}

.navigation-box >a {
	color: #6f7173; 
	padding: 0;
}

.sume-text {
  margin: 0 0 0 20px;
}

h3{
	font-size: 42.35px;
}

h4{
	font-size: 34.35px;
	}
}

@media screen and (max-width: 613px){
.carousel-caption {
  right: 0;
  bottom: 15px;
  left: 45%;
  padding: 25px;
}

.carousel-caption >h2{
	font-size: 25.35px;
}

.carousel-caption >p{
	font-size: 16.35px;
	line-height: 25.42px;
	}
}


@media screen and (max-width: 576px){
.carousel-caption {
  right: 0;
  bottom: 10%;
  left: 45%;
  padding: 0;
	}
}
